.box {
    height: 800px;
    padding: 20px;
    color: darkgray;
    background: white;
}

.box1 {
    height: 30000px;
    padding: 20px;
    color: darkgray;
    background: white;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.navbar-toggler{
        background: rgb(92, 90, 90);
    }

.navbar {
        background-color: white;

    }

.navbar .navbar-brand {
        color: white;
    }


.ml-4 {
        margin-left: ($spacer * 1.5) !important;
      }